<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="neklo_random_product" frontName="neklo_random_product">
            <module name="Neklo_RandomProduct" />
        </route>
    </router>
</config>
